In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import sqlite3
url="https://web.archive.org/web/20230902185655/https://en.everybodywiki.com/100_Most_Highly-Ranked_Films"
db_name='Movies.db'

In [3]:
table_name='top_50_films.csv'
csv_path=r'C:\Users\GPU-TECH\Desktop\Importantجدا/top_50_films.csv'
count=0

In [4]:
html_page=requests.get(url).text
data=BeautifulSoup(html_page,'html.parser')

tables = data.find_all('tbody')
rows = tables[0].find_all('tr')

In [5]:
data_list=[]
for row in rows:
    if count<25:
        col=row.find_all('td')
        if len(col)!=0:
            data_dict = {"Film": col[1].contents[0],
                         "Year": col[2].contents[0],
                         "Rotten Tomatoes' Top 100": col[3].contents[0]}
            data_list.append(data_dict)
            count+=1
df1=pd.DataFrame(data_list)
df1

,Film,Year,Rotten Tomatoes' Top 100
0,The Godfather,1972,17
1,Citizen Kane,1941,2
2,Casablanca,1942,8
3,"The Godfather, Part II",1974,99
4,Singin' in the Rain,1952,52
5,Psycho,1960,88
6,Rear Window,1954,47
7,Apocalypse Now,1979,unranked
8,2001: A Space Odyssey,1968,unranked
9,Seven Samurai,1954,49
10,Vertigo,1958,unranked
11,Sunset Blvd,1950,21
12,Modern Times,1936,4
13,Lawrence of Arabia,1962,unranked
14,North by Northwest,1959,79
15,Star Wars,1977,unranked
16,Parasite,2019,6
17,Schindler's List,1993,unranked
18,Lord of the Rings: The Fellowship of the Ring,2001,unranked
19,Shawshank Redemption,1994,unranked
20,It's a Wonderful Life,1946,unranked
21,Pulp Fiction,1994,unranked
22,Avengers: Endgame,2019,7
23,City Lights,1931,unranked
24,One Flew Over the Cuckoo's Nest,1975,unranked

In [6]:
df1.to_csv(csv_path)
#To store the required data in a database
conn=sqlite3.connect(db_name)
df1.to_sql(table_name,conn,if_exists='replace',index=False)
conn.close()